<a href="https://colab.research.google.com/github/hoohahaBIGHEAD/AI/blob/main/%EB%94%B0%EB%A6%89%EC%9D%B4_%EB%8C%80%EC%97%AC%EC%88%98_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 라이브러리 로딩

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

##데이터 로딩 및 확인

In [5]:
train = pd.read_csv('/content/drive/MyDrive/tmp/따릉이/train.csv')
test = pd.read_csv('/content/drive/MyDrive/tmp/따릉이/test.csv')

print(train.shape)
print(train.head())
train.info()

(1459, 11)
   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

##결측치 확인 및 처리

In [6]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [7]:
train.fillna(0,inplace = True)
test.fillna(0,inplace = True)

##모델 정의 및 학습

In [10]:
train_X = train.drop(['count'], axis = 1)
train_y = train['count']

In [11]:
model = RandomForestRegressor()
model.fit(train_X, train_y)

RandomForestRegressor()

##학습된 모델로 예측 데이터 생성

In [12]:
pred = model.predict(test)

##제출파일 생성

In [13]:
submission = pd.read_csv('/content/drive/MyDrive/tmp/따릉이/submission.csv')
submission

       id  count
0       0    NaN
1       1    NaN
2       2    NaN
3       4    NaN
4       5    NaN
..    ...    ...
710  2148    NaN
711  2149    NaN
712  2165    NaN
713  2166    NaN
714  2177    NaN

[715 rows x 2 columns]

In [18]:
submission['count'] = pred.round(0)
submission

       id  count
0       0   93.0
1       1  241.0
2       2   84.0
3       4   28.0
4       5   66.0
..    ...    ...
710  2148   52.0
711  2149   67.0
712  2165  118.0
713  2166  149.0
714  2177  169.0

[715 rows x 2 columns]

In [19]:
submission.to_csv('베이스라인.csv',index = False)